.main{
    background-color: aqua;
    height: auto;
    margin: auto;
    padding: 20px;

}
.body{
    height: 600px;
    width: 90%;
    background-color: bisque;
}
nav ul li a{
    text-decoration: none;
    display: inline;
    background-color: blue;
    color: black;
}
nav ul li{
    display: inline;
}
.div{
    background-color: aquamarine;
    padding: auto;
    margin: auto;
}